/* Schedule CLASS STYLES */

/* Títulos das diversas partes da página */
#schedule #title {
    text-align: center
}




/* Table CLASS STYLES */

/* Caixa de load do horário */

#table #secure-wait-container {
    width: 1440px;
    height: 300px;
    background-color: rgb(243, 243, 243);
    margin:auto;
    text-align: center;
    border: 1px solid black;
}


/* Mensagem de load */

#table #message-container {
    text-align: center
}

/* Mensagem de load - Salvo com sucesso */

#table #message-container #succ {
    color: green;
    font-size: 15px;
    margin-bottom: 15px
}

/* Mensagem de load - Pronto para receber informacao */

#table #message-container #wait {
    color: rgb(255, 187, 0);
    font-size: 15px;
    margin-bottom: 15px
}


/* Horário */

#table #horario-container {
    margin: auto
}

/* Horário - Título de cada coluna */

#table #horario-container #data #data-title {
    font-size: 18px;
}

/* Horário - Definições das parcelas */

#table #horario-container #data td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

#table #horario-container #data #data-title td {
    background-color: #E0E0E0;
}

#table #horario-container #data .dataLine td {
    background-color: #fff
}

/* Horário - Definições das parcelas - Horas */

#table #horario-container #data .dataLine td .hours {
    font-size: 12px;
    border: none;
    overflow-y: scroll;
} 

/* Horário - Definições das parcelas - Medicamentos */

#table #horario-container #data .dataLine td .basic-multi-select {
    width: 136.1px;
    font-size: 10px
}

/* Horário - Botão para guardar */

#table #btn-container #save-btn{
    float: right;
    margin-top: 10px;
    padding: 6px;
    border-radius: 5px;
    border: 0;
    background: #5B5F97;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

#table #btn-container #save-btn:hover {
    opacity: 0.8;
}




/* List CLASS STYLES */

#info {
    width: 1440px;
    margin: auto
}

/* Informação médica */

/* Informação médica - Mensagens */

#info #medical-info-container #message-container {
    text-align: center
}

/* Informação médica - Mensagens - Pronto para receber informação */

#info #medical-info-container #message-container #wait {
    color: rgb(255, 187, 0);
    font-size: 15px;
    margin-bottom: 15px
}

/* Informação médica - Mensagens - Salvo com sucesso */

#info #medical-info-container #message-container #succ {
    color: green;
    font-size: 15px;
    margin-bottom: 15px
}

/* Informação médica - Área de texto */

#info #medical-info-container #text {
    display: block;
    margin: auto 0px;
    max-width: 1440px;
    min-width: 1440px;
    min-height: 100px;
    font-size: 18px
}

/* Informação médica - Botão para guardar */

#info #medical-info-container #save-btn {
    float: right;
    margin-top: 10px;
    padding: 6px;
    border-radius: 5px;
    border: 0;
    background: #5B5F97;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

#info #medical-info-container #save-btn:hover {
    opacity: 0.8;
}


/* Informação pessoal */

#info #personal-info-container {
    margin: 40px 0 40px;
    display: flex;
}

/* Informação pessoal - Fotografia */

#info #personal-info-container #user-photo-container {
    flex: 17%
}

#info #personal-info-container #user-photo-container img {
    width: 200px;
    border-radius: 5px;
    border: 1px solid black
}

/* Informação pessoal - Detalhes pessoais */

#info #personal-info-container #details-container {
    flex: 83%
}

#info #personal-info-container #details-container p .identifier {
    font-size: 19px
}