* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F8FF
}

@media only screen and (min-width: 600px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #F8F8FF;
        color: #333;
    }
} 


::-webkit-scrollbar {
    width: 12.5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #c9c7c7; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5B5F97;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(67, 70, 110);
}