/*DEFAULT BACKGROUND COLOR*/

#medical-area {
    background-color: #F8F8FF
}


/*HEADER CLASS*/

.header {
    display: flex;
}

.header h2 {
    flex: 40%
}

.header img {
    width: 50px;
    margin-left: 0.5%;
}


/*MEDICALAREA CLASS*/

/*zona de navegação*/

.medicalNav {
    display: flex;
    margin-top: 17px ;
    padding: 10px;
    border-bottom: 2px solid black;
    background-color: #F8F8FF;
    margin-top:0px;
    justify-content: space-between;
}

.medicalNav .leftContainer {
    flex: 93%;
}

.medicalNav .leftContainer #search-patient {
    max-height: 37px;
    border-radius: 5px 0 0 5px;
    border-right: none
}

.medicalNav .leftContainer #search-btn {
  background: #5B5F97;
  color: #fff;
  border: 1px solid black;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  padding: 6px;
  transition: all 0.3s 
}

.medicalNav .leftContainer #search-btn:hover {
    opacity: 0.8
}

.medicalNav .leftContainer input {
    font-size: 16px;
    padding: 6px;
    margin-left: 2%;
    width: 15%;
    min-width: 160px;
    border: 1px solid black;
}

.medicalNav .rightContainer {
    flex: 7%;
    margin: auto
}

.medicalNav .rightContainer #logout-btn,
.medicalNav .leftContainer #new-patient {
    padding: 6px;
    border-radius: 5px;
    border: 0;
    background: #5B5F97;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    max-height: 37px;
    min-width: 105px;
}

.medicalNav .rightContainer #logout-btn {
    margin-right: 20px;
}

.medicalNav .rightContainer #logout-btn:hover,
.medicalNav .leftContainer #new-patient:hover {
    opacity: 0.8
}

.medicalNav .leftContainer #new-patient {
    margin-left: 40px
}

@media only screen and (max-width: 600px) {
    .medicalNav {
        display: block
    }

    .medicalNav .leftContainer #search-patient {
        width: 90%;
        margin: auto
    }

    .medicalNav .leftContainer #search-btn{
        width: 10%;
    }

    .medicalNav .leftContainer #new-patient {
        float: left;
        margin-left: 0;
        margin-top: 2%
    }

    .medicalNav .rightContainer {
        text-align: right;
        margin-top: 2%
    }

    .medicalNav .rightContainer #logout-btn {
        margin-left: 0;
        margin-right: 0
    }
} 


/*LIST CLASS*/

.patient-list {
    max-width: 80%;
    margin: 20px auto 0;
    padding: 0 20px;
}

.patient-list article {
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
}

.patient-list article .profile-container {
    flex: 9%;
    text-align: center;
    margin: auto
}

.patient-list article .profile-container .profile-pic {
    width: 100%;
    min-width: 86px
}

.patient-list article .patient-info {
    flex: 83%;
    padding-left: 2%;
    margin: auto
}

.patient-list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.patient-list article .scheduleBtn {
    flex: 8%;
    margin: auto;
}

.patient-list #pacient-error {
    color: #f00;
}

.patient-list .actions {
    display: flex;
    justify-content: space-between;
    margin: 20px auto 20px;
}

.patient-list article .scheduleBtn button,
.patient-list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #5B5F97;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.patient-list .actions button #formLink {
    color: #fff;
    text-decoration: none;
}

.patient-list article .scheduleBtn button[disabled],
.patient-list .actions button[disabled]{
    opacity: 0.6;
    filter: grayscale(100%);
    cursor: default;
}

.patient-list article .scheduleBtn button:hover,
.patient-list .actions button:hover {
    opacity: 0.8;
}

.patient-list article .scheduleBtn button[disabled]:hover,
.patient-list .actions button[disabled]:hover{
    opacity: 0.6;
}

@media only screen and (max-width: 700px) {
    .patient-list {
        max-width: 90%;
    }

    .patient-list article {
        display: block;
    }

    .patient-list article .profile-container {
        text-align: center;
    }

    .patient-list article .profile-container .profile-pic {
        width: 20vw;
        margin: auto;
        margin-top: 2%
    }

    .patient-list article .profile-container #profile-name {
        float: left;
        text-align: left;
        font-size: 20px;
        margin: 9% auto auto 2%;
        width: 65%;
    }

    .patient-list article .scheduleBtn {
        margin: auto 2% 2% auto;
        text-align: right
    }
}


/*MODAL CLASS*/

.contentor {
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.contentor .modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 2px 2px 10px;
    width: 40%;
    min-width: 230px;
}

.contentor .modalContent #warn {
    color: rgb(255, 217, 0)
}

.contentor .modalContent #succ {
    color: green;
}

.contentor .modalContent #erro {
    color: #f00
}

.contentor .modalContent .data-form {
    padding-top: 20px
}

.contentor .modalContent .data-form p label {
    font-weight: normal;
    margin-right: 10px
}

.contentor .modalContent .data-form p input {
    border-radius: 5px;
    border: 1px solid #5B5F97;
    font-size: 16px;
}

.contentor .modalContent .data-form button {
    margin:-5px;
    margin-top: 20px;
    padding: 6px;
    border-radius: 5px;
    border: 0;
    background: #5B5F97;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.contentor .modalContent .data-form button:hover {
    opacity: 0.8;
}

.contentor .close {
    color: #747474;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.contentor .close:hover,
.contentor .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 1100px) {
    .contentor .modalContent .data-form p input {
        width: 100%;
    }
}